* {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

audio {
    border-radius: 10px;
}
.music_center{
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    height: 100px;
    width: 400px;
}
.box {
    display: flex ;
    /* overflow: hidden; */
    
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    height: 500px;
}

.item {
    width: 100px;
    height: 100px;
    background-color: blue;
}