* {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

.back_img{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 50%;
    /* background-image: url("../static/img/beauty.png");  */
    opacity: 0.9;
    /* background-repeat: no-repeat;
    background-position: center center; */
    transform: translateX(-50%);

}

.last_index{
    z-index: 998;
}

body:last-child{
    color: black;
}

.back_img img{
    width: 400px;
    height: auto;
}
audio {
    border-radius: 10px;
}
.music_center{
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    height: 100px;
    width: 400px;
}
.box {
    display: flex ;
    /* overflow: hidden; */
    
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    height: 500px;
}

.item {
    width: 100px;
    height: 100px;
    background-color: blue;
}