* {
    margin: 0;
    padding: 0;
}

.box {
    display: flex ;
    /* overflow: hidden; */
    
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    height: 500px;
}

.item {
    width: 100px;
    height: 100px;
    background-color: blue;
}